/*==========  Mobile First Method  ==========*/

 
/*----------------------------------------*/
/* Custom, iPhone Retina */
/*----------------------------------------*/
    @media only screen and (min-width : 320px) {
        
        /* Header Component */
        .navbar {
            margin-bottom: 2px;
        }
        .navbar-nav {
            padding-top: 22px;
        }
        .navbar-brand {
            left: -16px;
            top: -26px;
        }
        .navbar-brand img {
            width: 72%;
        }
        .carousel-indicators {
            bottom: -30px;
        }
        
        
        /* Services Component */
        .middle-title h2 {
            font-size: 200%;
        }
        .middle-title span {
            width: 50px;
            height: 50px;
            padding-top: 4px;
            font-size: 90%;
        }
        .middle-content ul li {
            font-size: 130%;
        }
    }



/*----------------------------------------*/
/* Extra Small Devices, Phones */
/*----------------------------------------*/
    @media only screen and (min-width : 480px) {
        
        /* Header Component */
        .navbar-nav {
            padding-top: 22px;
        }
        .navbar-brand {
            top: -28px;
            top: -27.5px;
        }
        .carousel-indicators {
            bottom: -32px;
        }
        
        /* Services Component */
        .middle-title span {
            width: 60px;
            height: 60px;
            padding-top: 6px;
        }

    }



/*----------------------------------------*/
/* Small Devices, Tablets */
/*----------------------------------------*/
    @media only screen and (min-width : 768px) {
        
        /* Header Component */
        .carousel-indicators {
            bottom: -50px;
        }
    }


/*----------------------------------------*/
/* Medium Devices, Desktops */
/*----------------------------------------*/
    @media only screen and (min-width : 992px) {
        
        /* Header Component */
        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 8px;
        }
        
        /* Services Component */
        .middle-content ul li {
            font-size: 120%;
            letter-spacing: 1px;
        }
        
        /* Bottom Accordion Component */
        
        #bottom {
            padding-top: 60px;
            background: #ecf1e9;
            margin-top: 0px;
            padding-left: 5%;
            padding-right: 5%;
        }
        #bottom h2 {
            padding-bottom: 20px;
        }
        
        .panel {
            margin-bottom: 20px;
            background-color: #ecf1e9;
            border: none;
            border-radius: none;
            box-shadow: none;
        }
        .panel-body {
             padding: 0px; 
        }
        .panel-default>.panel-heading {
            color: #000;
            background-color: #ecf1e9;
            border: none;
        }
        #welcome img, #mission img  {
            border: 15px solid #fff;
        }
        .panel-title a {
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 150%;
        }
        .buttom-services {
            padding-bottom: 22px;
        }

    }


/*----------------------------------------*/
/* Large Devices, Wide Screens */
/*----------------------------------------*/
    @media only screen and (min-width : 1200px) {
        .navbar {
            margin-bottom: 20px;
        }
        .navbar-brand {
            position: absolute;
            top: -32px;
        }
        .navbar-brand img {
            width: 100%;
        }
        .nav > li > a {
            padding: 8px 15px;
        }
        
        /* Services Component */
        .middle-content ul li {
            font-size: 115%;
        }
        
        /* Bottom Accordion Component */
        .buttom-services {
            padding-bottom: 30px;
        }
        
        
    }




/* Change Navbar Collapse Breakpoint*/

@media (max-width: 992px) {
    
    /* Change Navbar Collapse Breakpoint*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
